<h1>Pokemon TM Store</h1>
<h2>Product Listings</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stock quantity</th>
      <th>Type</th>
      <th>More Info</th>
    </tr>
  </thead>

  <tbody>
    <% @tms.each do |tm| %>
      <tr>
        <td><%= tm.name %></td>
        <td><%= tm.price %></td>
        <td><%= tm.quantity %></td>
        <td><%= tm.type.name %></td>
        <td><%= link_to 'Show More', tm %></td>
      </tr>
    <% end %>
  </tbody>
</table>
