<h1>Pokemon TM Store</h1>
<h2>Product Listings</h2>

<h4>About Us</h4>
<p><%= @info.description %></p>

<h4>Contact Us</h4>
<p>Email us at: <%= @info.email %>.</p>
<p>Find us at: <%= @info.street %>, <%= @info.postal_code %>, <%= @info.city %>, <%= @info.province %></p>
