<!DOCTYPE html>
<html>
  <head>
    <title>PokemonStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <p>
      <h1>Pokemon TM Store</h1>

      <%= render partial: "navbar" %>
      <%= render partial: "login" %>

    </p>
    <h2>Product Listings</h2>
    <%= yield %>
  </body>
</html>
